$darkReact: #282c34;
$lightReact: #61dafb;
body {
  background: #282c34;
  font-family: sans-serif;
}

.App {
  display: flex;
  margin: auto;
  margin-top: 100px;
  flex-direction: column;
  max-width: 500px;
}

.search-filter {
  .search-filter-input, .submit-button { 
    padding: 10px;
    font-size: 18px;
  }
  .search-filter-input {

    width: 70%;
    border: none;
  }
  .submit-button {
    padding-right: 15px;
    background: $lightReact;
    border: none;

  }
}

.categories {
  color: $lightReact;
  display: flex;
  justify-content: center;
  .category {
    width: 30.1%;
    margin-top: 10px;
    height: 32px;
    box-sizing: border-box;
    padding-top: 7px;
    font-size: 18px;
    transition: background .3s;
    cursor: pointer;
    &:hover {
      color: $darkReact;
      background: #61dafb;
    }
  }
}

.item-list {
  margin: 20px 24px;
}

.item {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 5px;
}

.actions {
  display: flex;
  width: 110px;
  .action {
    width: 33%;
    height: 26px;
    padding-top: 3px;
    box-sizing: border-box;
    cursor: pointer;
    color: $lightReact;
    transition: background .3s;
    &:hover {
      background: $lightReact;
      color: $darkReact;
    }
  }
}

.footer {
  align-self: flex-end;
  margin-right: 24px;
}

.warning-message {
  color: tomato;
  margin-bottom: 10px;
  align-self: flex-start;
  margin-left: 24px;
}

.footer {
  color: $lightReact;
}